

<footer class="">
  <div class="container ">
    <div class="row">
      <div class="col-md-3">
        <div class="logo w-25 mt-5">
          <img src="assets/images/logo-regular.png" alt="logo" class="w-100 img-fluid">
        </div>
        <div class="desc pt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        </div>
      </div>
      <div class="col-md-2">
        <div class="quick-links title-text mt-5">
        Quick Links
        </div>
        <div class="links pt-3">
          <ul class="list-unstyled">
            <li class="pt-1">Home</li>
            <li class="pt-1">Shop</li>
            <li class="pt-1">Our Story</li>
            <li class="pt-1">Products</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="social-media title-text mt-5">
          Our Socials
        </div>
        <div class="icons pt-3">
          <ul class="list-unstyled d-flex w-50">
            <li class="pe-2"><img src="assets/images/facebook.png" alt="facebook" class="img-fluid w-75"></li>
            <li class="pe-2"><img src="assets/images/instagram.png" alt="instagram" class="img-fluid w-75"></li>
            <li class="pe-2"><img src="assets/images/x.png" alt="twitter" class="img-fluid w-75"></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
          <div class="subscribe title-text mt-5">
            Subscribe to Our Newsletter
          </div>
          <input type="email" class="form-input" placeholder="Enter Your Email.."/>
          <div class="btn mt-4 d-block">Subscribe Now</div>
      </div>

    </div>
  </div>

  <hr class="mt-5">
  <div class="container">
    <div class="row pt-3">
      <div class="col-md-12">
        <p class="text-center copyright">Copyright © 2024 eGrow Plants | Powered by eGrow Plants</p>
      </div>
    </div>
  </div>
</footer>
