<div class='landing'>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-12">
        <div class="paragraph-landing">
          <p>Plant</p>
          <h2 class="display-6">Bird of Paradise Plant</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis nulla in mauris efficitur elementum.</p>
          <div class="d-flex align-items-center mt-3">
            <p class="price "><span class="text-decoration-line-through pe-1">$65.00</span>$50.00</p>
            <button class="btn">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <img src="assets/images/hero.png" class="w-100 img-fluid" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container">


    <section class="special-offers mt-md-5">
      <div class="row text-center mb-5 mt-5">
        <div class="col-12">
          <p class="special-offers-text">
            Special Offers
          </p>
          <p class="deals-text">
            Unique deals & offers every single day
          </p>
        </div>
      </div>
      <div class="row align-items-center mt-md-5">
        <div class="col-md-7 col-12">
          <img src="assets/images/plant-img.jpg" alt="" class="image img-fluid">
        </div>
        <div class="col-md-3 offset-md-1 col-12 ms-md-5 mt-4 mt-md-0 position-relative">
          <img src="assets/images/flower-03-a-400x550.jpg" class="w-100 img-fluid " alt="">
          <div class="details">
            <p class="title">Aloe Juvenna Plant</p>
            <p class="price">$85.00</p>
          </div>

          <div class="add-to-cart-badge">
            <a routerLink='/'>
              <img src="assets/images/add-to-cart.png" alt="add-to-cart" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </section>

  <section class="most-popular mb-5 mt-md-5">
      <div class="row text-center mb-5">
        <div class="col-12">
          <p class="special-offers-text">
            Shop
          </p>
          <p class="deals-text">
            Most Popular Plants
          </p>
        </div>
      </div>
      <div class="row align-items-center mt-md-5">
        <div class="col-md-3 col-12 mt-4 mt-md-0 position-relative item-card">
          <img src="assets/images/flower-03-a-400x550.jpg" class="w-100 img-fluid " alt="">
          <div class="details">
            <p class="title">Aloe Juvenna Plant</p>
            <p class="price">$85.00</p>
          </div>

          <div class="add-to-cart-badge">
            <a routerLink='/'>
              <img src="assets/images/add-to-cart.png" alt="add-to-cart" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-md-3 col-12 mt-4 mt-md-0 position-relative item-card">
          <img src="assets/images/1.jpg" class="w-100 img-fluid " alt="">
          <div class="details">
            <p class="title">Fiddle Leaf Fig Plant</p>
            <p class="price">$69.00</p>
          </div>

          <div class="add-to-cart-badge">
            <a routerLink='/'>
              <img src="assets/images/add-to-cart.png" alt="add-to-cart" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-md-3 col-12 mt-4 mt-md-0 position-relative item-card">
          <img src="assets/images/2.jpg" class="w-100 img-fluid " alt="">
          <div class="details">
            <p class="title">Christmas Cactus</p>
            <p class="price">$100.00</p>
          </div>

          <div class="add-to-cart-badge">
            <a routerLink='/'>
              <img src="assets/images/add-to-cart.png" alt="add-to-cart" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-md-3 col-12 mt-4 mt-md-0 position-relative item-card">
          <img src="assets/images/4.jpg" class="w-100 img-fluid " alt="">
          <div class="details">
            <p class="title">Bird of Paradise Plant</p>
            <p class="price">$93.00</p>
          </div>

          <div class="add-to-cart-badge">
            <a routerLink='/'>
              <img src="assets/images/add-to-cart.png" alt="add-to-cart" class="img-fluid">
            </a>
          </div>
        </div>

      </div>
  </section>

  <section class="our-story mb-5 mt-md-5">
      <div class="row text-center mb-5 align-items-center justify-content-center">
        <div class="col-12">
          <p class="special-offers-text">
            Our Story
          </p>
            <div class="deals-text">
              <p>  We are a family owned, retail </p>
              <p> and wholesale plant nursery, located in New </p>
              <p>    York. </p>
            </div>
            <p class="parag">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </p>

              <button class="btn mt-4">Read More</button>

        </div>
      </div>

  </section>

  <!-- products -->

  <section class="products mb-5 mt-md-5">
    <div class="row">
      <div class="col-md-6">
        <div class="image position-relative">
          <a routerLink='/seller/product'><img src="assets/images/cat-02-400x400.jpg" alt="product1" class="w-100" /></a>
          <div class="details position-absolute bottom-0 left-0 text-center ">
            <p class="title text-center">products</p>
            <p class="no-product">4 products
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image position-relative">
         <a routerLink='/seller/product'> <img src="assets/images/cat-01-400x400.jpg" alt="product1" class="w-100" /> </a> 
          <div class="details position-absolute bottom-0 left-0 text-center">
            <p class="title text-center">Plants</p>
            <p class="no-product">4 products
          </div>
        </div>
      </div>
    </div>

  </section>


</div>


<!-- qoute -->
<section class="qoute mb-5 mt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 ">
        <div class="avatar mb-3">
          <img src="assets/images/avatar.jpg" alt="avatar" class="w-100 img-circle" />
        </div>
        <div class="qoute-text">
          <p class="txt">"Really good service and good quality plants, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum!"</p>
        </div>
        <p class="gift-text">
          Give the Gift of Plants
        </p>

        <p class="desc" >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis nulla in mauris efficitur elementum. Donec mollis eleifend ex vitae vulputate. Nam sodales, lorem ac tempus lorem ipsum dolor si amet.
        </p>
        <div class="btn mb-5">Buy gift card</div>
      </div>
      <div class="col-md-6 col-12 offset-2 card-gift d-flex align-items-center">
        <img src="assets/images/gift-card-img.jpg" alt="gift-card" class="w-100 img-fluid">
      </div>
    </div>
  </div>
</section>

<!-- features -->
<section class="features">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 item-card" >
        <div class="icon">
          <img src="assets/images/delivery.png" alt="icon" class="w-100 img-fluid">
        </div>
        <div class="details">
          <p class="title"> Fast Delivery</p>
          <p class="desc">Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor consectetur
          </p>
        </div>
      </div>

      <div class="col-md-3 item-card">
        <div class="icon">
          <img src="assets/images/loc.png" alt="icon" class="w-100 img-fluid">
        </div>
        <div class="details">
          <p class="title">Order Tracking
          </p>
          <p class="desc">Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor consectetur
          </p>
        </div>
      </div>
      <div class="col-md-3 item-card">
        <div class="icon">
          <img src="assets/images/payment.png" alt="icon" class="w-100 img-fluid">
        </div>
        <div class="details">
          <p class="title">Secure Payment</p>
          <p class="desc">Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor consectetur
          </p>
        </div>
      </div>
      <div class="col-md-3 item-card">
        <div class="icon">
          <img src="assets/images/dis.png" alt="icon" class="w-100 img-fluid">
        </div>
        <div class="details">
          <p class="title">Big Discounts</p>
          <p class="desc">Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor consectetur
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
