* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
}

.card-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: #333333;
  padding: 30px;
  text-align: center;
  width: 350px;
  max-width: 100%;
  margin: 50px auto;
}

.round {
  border: 4px solid #2c3e50;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto 20px;
}

h3 {
  margin: 10px 0;
  font-size: 24px;
  color: #333333;
}

h6 {
  margin: 5px 0;
  font-size: 16px;
  color: #666666;
}

.buttons {
  margin-bottom: 20px;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.primary {
  background-color: #7a9d91;
  color: #ffffff;
}

.primary.ghost {
  background-color: transparent;
  border: 1px solid #4CAF50;
  color: #4CAF50;
}


/* #7a9d91
   #f1f5f4 
   #2c3e50
  */

/* .product-list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  text-align: left;
}

.product-list li {
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
}

.product-list li:last-child {
  border-bottom: none;
}

.product-list li .product-name {
  font-size: 18px;
  color: #333333;
}

.product-list li .product-price {
  font-size: 16px;
  color: #4CAF50;
  margin-top: 5px;
} */