
<div class="container">
  <div class="card-container">
    <img class="round" src="{{user.picture}}" alt="user">
    <h3>{{ user.name }}</h3>
    <h6>{{ user.email }}</h6>
    <div class="buttons">
      <button class="primary mt-3">Edit Profile</button>
    </div>
    <!-- <ul class="product-list">
      <li *ngFor="let product of user.products">
        <img src="{{product.image}}" alt="product">
        <h4>{{product.name}}</h4>
        <p>{{product.description}}</p>
      </li>
    </ul> -->
  </div>
</div>
