
.panel{
  margin-top: 100px;
  margin-bottom: 50px;
}
.panel-title{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}


.panel-body{
  padding: 20px;
}

form{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 50%;
  margin: auto;
  display: block;
}


.btn {
  background-color: #7a9d91;
  color: #f1f5f4;
  padding: 10px 20px;
  display: block;
  border-radius: 0;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin: auto;
}
